In [ ]:
[과제: udf 등록 및 SQL 처리]
UDF 함수명: age_category(age)
- age가 35살 미만: 'young'
- age가 35살-59살: 'adult'
- age가 60살 이상: 'senior'

데이터프레임
- 변수: name, age (예: '안현', 39)
- 데이터 5개~10개 생성 

SQL 출력 결과: name, age_category(age)

- 제출 방법: GitHub에 업로드
- 제출 기한: 5.24(수)

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('udf_hw').getOrCreate()

In [16]:
name_age = [
    ('안현', 39),
    ('윤혜진', 23),
    ('홍길동', 20),
    ('갑을병', 13),
    ('김한신', 44),
    ('오병민', 50),
    ('이지현', 67),
    ('조윤지', 36)
]

In [6]:
schema = ['name', 'age']

In [15]:
df = spark.createDataFrame(name_age, schema)
df.createOrReplaceTempView('nameAge')

In [17]:
def age_category(age):
    if(age < 35):
        str = 'young'
    elif(age >= 35 & age < 60):
        str = 'adult'
    else:
        str = 'senior'
    return str

In [19]:
spark.udf.register('age_category', age_category)

In [20]:
spark.sql(
    "SELECT name, age_category(age) \
    FROM nameAge").show()

+------+-----------------+
|  name|age_category(age)|
+------+-----------------+
|  안현|            adult|
|윤혜진|            young|
|홍길동|            young|
|갑을병|            young|
|김한신|            adult|
|오병민|            adult|
|이지현|            adult|
|조윤지|            adult|
+------+-----------------+